
.hero {
  background:url('https://via.placeholder.com/300x400') center/cover no-repeat;
  min-height: 300px;

  width: 100%;

}

@media screen and (min-resolution: 192dpi) {
  .hero {

    width: 600px;

    height: 800px;

  }

}

@media screen and (min-width: 600px) and (min-resolution: 192dpi) {
  .hero {

    width: 2400px;

    height: 1200px;

  }

}

// je n'ai pas très bien compris et je ne suis pas certain si ce qu j'ai fait est le résultat attendu