main{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


  article{
    padding: 10px;

    border: 1px solid black;

    flex: 0 1 100%;

    margin: 20px 0;
  }


}

@media screen and (min-width: 600px) {

  main{

    article{

      flex: 49%;

    }

  }

}

@media screen and (min-width: 1165px) {

  main{

    article{

      flex: 24%;

    }

  }

}
