nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px 10px;

  .logo{
    font-size: 50px;
  }

  ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;

    a{
      padding: 5px 10px;
    }
  }
}

@media screen and (min-width: 600px) {
  nav {

    align-content: center;
    flex-direction: row;
    justify-content: space-between;

    ul{

      align-content: center;
      flex-direction: row;

    }

  }

}

@media screen and (min-width: 1165px) {
  nav {

    padding: 10px 0;

  }

}

